<div class="home" [style.fontFamily]="currentFont">
<h1>Angular is working</h1>

<h3> Title of the application {{title}}</h3>

<hr/>
<h4>Font for the app <select [(ngModel)]="currentFont">
    <option *ngFor="let x of fonts">{{x}}</option>
</select></h4>
<h3>Programmers</h3>
<ul><li *ngFor="let x of programmers">{{x}}
     <span *ngIf="x.length>7" [style.color]="'red'">**</span>
</li></ul>

<app-box></app-box>
<app-box></app-box>
<app-box></app-box>
<app-box></app-box>
<app-box></app-box>

</div>